/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.main-container {
  display: flex;
  background: #111;
  color: white;
  padding: 1rem;
  gap: 1rem;
  font-size: 0.9rem;
}

.video-list {
  width: 200px;
}

.video-card {
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.video-card img {
  width: 100%;
  border-radius: 6px;
}

.player-container {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container video {
  width: 100%;
  max-height: 240px;
  border-radius: 8px;
}

.progress-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.progress-bar input[type="range"] {
  flex: 1 1;
  accent-color: hotpink;
  height: 4px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  background: #333;
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  background-color: #00bfff;
  font-size: 18px;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.volume-container input[type="range"] {
  width: 80px;
  accent-color: hotpink;
  height: 4px;
}

